* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: Inria;
	font-size: 17px;
	color: #000;
	background-color: #f2f2f2;
	font-family: Inria;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
::placeholder {
    color: #9B9B9B;
    opacity: 1;
    font-family: Inria;

}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

.login-box {
	width: 340px;
    height: 485px;
	background-color: #fff;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	padding: 70px 30px;
}

.login-box h2 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 28px;
    font-weight: 700;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #000;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #000;
	pointer-events: none;
	transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #000;
	font-size: 12px;
}

.button {
	display: block;
	height: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
    font-family: Inria;
	font-size: 16px;
	background: #000;
	cursor: pointer;
	border-radius: 20px;
	width: 40%;
	margin: 0 auto;
}
.login-box .register {
	margin: 24px auto;
}
.button:hover {
	background: #474747;
	color: #fff;
}
.login-box .forgot {
	display: block;
	height: 40px;
	border: 2px solid #000;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0b0a0a;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20px;
	width: 50%;
	margin: 0 auto;
}
header {
	height: 90px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header div.logo {
    max-width: 5%;
}
header div.logo a {
	display: block;
}
header div.logo img {
    width: 100%;
    display: block;
}
header div.right a.btn {
	color: #fff;
    background: #000;
    padding: 14px 30px;
    border-radius: 28px;
    font-size: 18px;
	text-align: center;
    font-weight: 700;
}

.signup-form {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    margin-bottom: 20px;
	text-align: center;
    font-size: 28px;
    font-weight: 700;
}
.form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group {
    margin-bottom: 20px;
}

