{% extends "users/auth_base.html" %} {% block content %} {% load static %}
<div class="login-box">
  <h2>Customer Login</h2>
  <form method="post" action="" class="ajax">
    {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="" />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="" />
      <label>Password</label>
    </div>
    <input class="button" type="submit" value="Login" />
    <a class="button register" href="{% url 'users:signup' %}">Register</a>
    <a class="forgot" href="#">Forgot Password ?</a>
  </form>
  <div class="submit">
    {% if error %}
    <p
      style="
        font-size: 14px;
        color: red;
        text-align: center;
        margin: 18px 0;
        font-weight: 800;
      "
      class="error-message"
    >
      {{message}}
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
