{% extends "users/auth_base.html" %} {% block content %} {% load static %}
<div class="signup-form">
  <h2>Create an account</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
          <label" for="{{field.id_for_label}}">{{field.label}}</label>
          {{field}}
      </div>
    {% endfor %}
    <div class="form-group">
      {% if error %}
        <p class="error-message">{{message}}</p>
      {% endif %}
      <input style="margin-bottom: 16px;" type="submit" value="Create Account" class="button">
      <a class="button" href="{% url 'users:login' %}">Login</a>
    </div>
  </form>
</div>
{% endblock %}
